{# templates/categorias.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Amigos{% endblock %}
{% block body %}
    <div id="usuarios">
        <ul>
            {% for amigo in amigos %}
                <li><a href="{{ path('perfilAmigo', {'user': amigo.idusuario}) }}">{{ amigo.idusuario }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="opciones">
        <ul>
            <li><a href="{{ path('solicitudes') }}">Solicitudes de amistad</a></li>
            <li>  <a href="{{ path('añadirAmigos') }}">Añadir amigo</a></li>
        </ul>
    </div>
{% endblock %}