{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    <form action="{{ path('cambiarClave') }}" method="post">
        <div  class="form-group">
            <label for="actual">Contraseña actual: </label>
            <input type="password" id="actual" name="actual" class="form-control" id="exampleInputPassword1" placeholder="Contraseña Actual"/>
        </div>
        <div class="form-group">
            <label for="nueva">Contaseña nueva: </label>
            <input type="password" id="nueva" name="nueva" class="form-control" id="exampleInputPassword1" placeholder="Contraseña nueva"/>
        </div>
        <div class="form-group">
            <label for="repetida">Repita la nueva contraseña: </label>
            <input type="password" id="repetida" name="repetida" class="form-control" id="exampleInputPassword1" placeholder="Repita nueva contraseña"/>
        </div>
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
{% endblock %}