{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    <form action="{{ path('olvidada') }}" method="post">
        <div  class="form-group">
            <label for="correo">Correo: </label>
            <input type="email" id="correo" name="correo" class="form-control" placeholder="Correo"/>
        </div>
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
{% endblock %}