{% extends 'base.html.twig' %}
{% block title %}Solicitud de Amistad{% endblock %}
{% block body %}
    {% if usuarios is empty %}
        <p>Todos los usarios son amigos tuyos</p>
    {% else %}
        <form action="{{ path('solicitudAmistad') }}" method="POST">
            <label for="usuarios">Solicitar a: </label>
            <select id="usuarios" name="usuarios">
                {% for usuario in usuarios %}
                    <option>{{ usuario.idusuario }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Enviar Solicitud">
        </form>
    {% endif %}
{% endblock %}