{% extends 'base.html.twig' %}
{% block title %}Responder{% endblock %}
{% block body %}
    <form action="{{ path('enviar_mensaje') }}" method="post" enctype="multipart/form-data">
        <label for="usuarios">Para:</label>
        <input type="text" id="usuarios" name="usuarios" value="{{ msg.Emisor.IdUsuario }}" readonly>
        <label for="asunto">Asunto:</label>
        <input id="asunto" name="asunto" value="{{ "Re: " ~ msg.Asunto }}" type="text" readonly>
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje"></textarea>
        <label for="fichero">Fichero:</label>
        <input id="fichero" name="fichero" type="file">
        <input type="submit" value="Enviar Mensaje">
    </form>
{% endblock %}